---
layout: default
---

<div class="home">
  {{ content }}

  <h1 class="page-heading">Timeline</h1>

  {%- if site.posts.size > 0 -%}
	{%- assign date_format = "%b %-d, %Y" %}
	<table>
    <colgroup>
      <col span="1" style="width:20%">
      <col span="1" style="width:50%">
      <col span="1" style="width:30%">
    </colgroup>
    <tr>
      <th>Date</th>
      <th>Topics</th>
      <th>Materials</th>
    </tr>
		{%- for row in site.posts %}
      <tr>
        <td>
          {{ row.date | date: date_format }}
        </td>
        <td>
          {{ row.topics | markdownify | remove: '<p>' | remove: '</p>' }} 
        </td>
        <td>
          {%- if row.slides -%}
            <a href="{{ row.slides }}" target="_new">slides</a>
          {%-endif %}
          {%- if row.notes4 %}
            <a href="{{ row.notes4 }}">notes-04</a>
          {%- endif %}
          {%- if row.video4 %}
            <a href="{{ row.video4 }}">video-04</a>
          {%- endif %}
          {%- if row.code4 %}
            <a href="{{ row.code4 }}">code-04</a>
          {%- endif %}
          {%- if row.notes3 %}
            <a href="{{ row.notes3 }}">notes-03</a>
          {%- endif %}
          {%- if row.video3 %}
            <a href="{{ row.video3 }}">video-03</a>
          {%- endif %}
          {%- if row.code3 %}
            <a href="{{ row.code3 }}">code-03</a>
          {%- endif %}
        </td>
      </tr>
		{%- endfor %}
	</table>
{%- endif %}


</div>
